body{
	font-family: 'Nova Cut', cursive; 
}

.left{
	background-color: #FA8072;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.interface {
	text-align: center;
	padding: 20px;
}

a.button{
	display: inline-block;
	background-color: black;
	color: white;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 10px;
	text-transform: uppercase;
	transition: color 300ms;
}

a:hover{
	color: blue;
}

.right{
	background-color: white;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground{
	background: url('../img/ground.png') no-repeat center 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

.nervous{
	position: absolute;
    bottom: 150px;
    left: 50%;
    background: url(../img/i.png) no-repeat 0 0;
    width: 223px;
    height: 100px;
    margin-left: -260px;
    display: none;
}

.nervous.show{
	display: block;
}

.cant-wait{
	position: absolute;
    bottom: 150px;
    left: 50%;
    background: url(../img/c.png) no-repeat 0 0;
    width: 223px;
    height: 100px;
    display: none;
}

.cant-wait.show{
	display: block;
}

.rocket{
	position: absolute;
    left: 50%;
    bottom: -14px;
    width: 110px;
    height: 228px;
    margin-left: -71.5px;
    background: url(../img/r.png) no-repeat 0 0;
    transition: bottom 10000ms;
}

/* rocket bg image */
body.body-state2 .rocket{
	background: url('../img/o.png') no-repeat 0 0;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	background: url('../img/o.png') no-repeat 0 0;
}
body.body-state5 .rocket{
	background: url('../img/boom.png') no-repeat 0 0;
	width: 209px;
	height: 200px;
	margin-left: -104.5px;
}
body.body-state1 .rocket{
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a{


}

a.button{

}